body {
    background-color:white;
    margin: 40px;
}

nav {
    margin-bottom: 40px;
}

header {
    color: rgb(19, 19, 93);
    background-color:white;
    font-weight: bolder;
    text-align: center;
}

h1 {
    color: rgb(19, 19, 93);
    padding-left: 40px;
}

h2 {
    color: rgb(19, 19, 93);
    text-align: center;
    
}

footer {
    margin-top: 40px;
    text-align: center;
}